extends ../../layout.pug

block content
            .content-header
                .container-fluid
                    .row.mb-5.mt-5.pl-2
                        .col-sm-6
                            h1.m-0.text-dark Change Password 
                    .content
                        .container-fluid
                            if successes
                                for success in successes
                                    div.alert.alert-success #{ success }
                            if errors
                                for error, i in errors
                                    div.alert.alert-danger #{ error.message }
                            .row
                                .col-12
                                    .card
                                        .card-header
                                            h3.card-title Change User Password 
                                        form#adduserForm(action=`/dashboard/users/edit/${userToEdit.id}/changepassword`, method="post")
                                            .card-body.row
                                                input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                                .col-md-12
                                                    .form-group.col-md-6
                                                        label.control-label(for="oldpassword") Old Password
                                                        input.form-control#username(type="password", name="oldpassword" , placeholder="Enter The Old Password ")
                                                .col-md-12
                                                    .form-group.col-md-6
                                                        label.control-label(for="newpassword") New Password 
                                                        input.form-control#username(type="password", name="newpassword" , placeholder="Enter The New Password ")
                                        
                                            .card-footer
                                                 button.btn.btn-primary.float-right(type="submit") Update Password 
block scripts 
        script(src="/static/vendor/js/changepassword.js", type="text/javascript")
