extends ../../layout.pug

block content
    .content-header
        .container-fluid
            .row.mb-5.mt-5.pl-2
                .col-sm-6
                    h1.m-0.text-dark تعديل الرقم السري
            .content
                .container-fluid
                    if successes
                        for success in successes
                            div.alert.alert-success #{ success }
                    if errors
                        for error, i in errors
                            div.alert.alert-danger #{ error.message }
                    .row
                        .col-12
                            .card
                                .card-header
                                    h3.card-title تعديل الرقم السري للمستخدم 
                                form#adduserForm(action=`/dashboard/users/edit/${userToEdit.id}/changepassword`, method="post")
                                    .card-body.row
                                        input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                        .col-md-12
                                            .form-group.col-md-6
                                                label.control-label(for="oldpassword") الرقم السري القديم
                                                input.form-control#username(type="password" name="oldpassword" , placeholder="أدخل الرقم السري القديم")
                                        .col-md-12
                                            .form-group.col-md-6
                                                label.control-label(for="newpassword") الرقم السري الجديد
                                                input.form-control#username(type="password" name="newpassword" , placeholder="أدخل الرقم السري الجديد")

                                    .card-footer
                                        button.btn.btn-primary.float-right(type="submit") حفظ التعديلات
block scripts 
    script(src="/static/vendor/js/changepassword.js" type="text/javascript")
