extends ../websiteLayout.pug

block content   
    .container.margin_60_35
        .row
            .box_booking.col-md-8.loading
                .loadingScreen
                    i.icon-spin6.animate-spin
            aside#sidebar.col-lg-4
                .box_detail.booking
                    .price
                    form#reqForm(action="/orders" method="POST")
                        .form-group
                            input.form-control(type='text' name='cuName' placeholder='الاسم' autocorrect="off")
                        .form-group
                            input.form-control(type='text' name='cuMob' placeholder='رقم الموبايل' autocorrect="off")
                        button#hagz.add_top_30.btn_1.full-width.purchase(type='submit') إتمام الحجز
                    .text-center
                        small سنتواصل معك بأقصي سرعة

block scripts 
      script(src="/static/vendor/js/checkit.js", type="text/javascript")            