extends ../websiteLayout.pug

block content 
    .blue-title
        .container
            .row
                .col-sm-12.col-md-12.col-lg-12
                    h1.pt-40 Certificates
                   
    section#awards.awards.pb-70.pt-20
        .container
            .row
                .col-sm-12.col-md-12.col-lg-12
                    .heading.mb-50
                        span.heading__subtitle Fast Growing Industrial & Manufacturing Estates.
                        h5
                            | Providing High Performance Services For Multiple Industries And Technologies!
                    // /.heading
                    // /.col-lg-8
                    // /.row
            .row
                // feature item #1
                .col-sm-12.col-md-3.col-lg-3
                    .feature-item
                        .feature__img
                            img.img-fluid(src='/static/websiteAssets/images/awards/1.jpg' alt='certificate')
                        // /.feature-img
                        .feature__content
                            h4.feature__title Family Business Award
                            p.feature__desc
                                | We believe that partnerships are fundamental to our growth. We'll seek the
                                | highest quality global forwarding services.
                        // /.feature-content
                        // /.feature-item
                        // /.col-lg-4
                        // feature item #2
                .col-sm-12.col-md-3.col-lg-3
                    .feature-item
                        .feature__img
                            img.img-fluid(src='/static/websiteAssets/images/awards/2.jpg' alt='certificate')
                        // /.feature-img
                        .feature__content
                            h4.feature__title Excellence in Exporting
                            p.feature__desc
                                | When we communicate, we are honest and direct. We won't make excuses, simply
                                | offer you a concrete solutions.
                        // /.feature-content
                        // /.feature-item
                        // /.col-lg-4
                        // feature item #3
                .col-sm-12.col-md-3.col-lg-3
                    .feature-item
                        .feature__img
                            img.img-fluid(src='/static/websiteAssets/images/awards/3.jpg' alt='certificate')
                        // /.feature-img
                        .feature__content
                            h4.feature__title Top Leading Global Trade 
                            p.feature__desc
                                | As a logistics solutions provider, we’ll monitor your logistical objectives and
                                | make sure all your logistical activities.
                        // /.feature-content
                        // /.feature-item
                        // /.col-lg-4
                        // feature item #4
                .col-sm-12.col-md-3.col-lg-3
                    .feature-item
                        .feature__img
                            img.img-fluid(src='/static/websiteAssets/images/awards/4.jpg' alt='certificate')
                        // /.feature-img
                        .feature__content
                            h4.feature__title Sales Excellence Award
                            p.feature__desc
                                | We believe that partnerships are fundamental to our growth. We'll seek the
                                | highest quality global forwarding services.
                        // /.feature-content
                        // /.feature-item
                        // /.col-lg-4
                        // feature item #5
                .col-sm-12.col-md-3.col-lg-3
                    .feature-item
                        .feature__img
                            img.img-fluid(src='/static/websiteAssets/images/awards/5.jpg' alt='certificate')
                        // /.feature-img
                        .feature__content
                            h4.feature__title Construction Excellence
                            p.feature__desc
                                | When we communicate, we are honest and direct. We won't make excuses, simply
                                | offer you a concrete solutions.
                        // /.feature-content
                        // /.feature-item
                        // /.col-lg-4
                        // feature item #6
                .col-sm-12.col-md-3.col-lg-3
                    .feature-item
                        .feature__img
                            img.img-fluid(src='/static/websiteAssets/images/awards/6.jpg' alt='certificate')
                        // /.feature-img
                        .feature__content
                            h4.feature__title Safety Award
                            p.feature__desc
                                | As a logistics solutions provider, we’ll monitor your logistical objectives and
                                | make sure all your logistical activities.
