body(style="line-height: 1.9em;background: #aaa;url(https://cdn.pbrd.co/images/HxiLKj4.jpg) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover")
 .messageBox(style="padding: 1em;background: #002e3666;border: #eee solid 2px;position: absolute;top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%);text-shadow: 0px 0px 8px #000;color: #fff;")
    h1#construction(style="font-family: 'Pacifico', cursive;") This website is coming soon!
    p#text(style="font-family: Questrial;text-align: center;") We're working on it! Please visit this page later. 


