extends ../websiteLayout.pug

block content  
        main
            .container.margin_60
                .row.justify-content-center
                    .col-md-8
                        #confirm
                            .icon.icon--order-success.svg.add_bottom_15
                                svg(xmlns="http://www.w3.org/2000/svg", width="72", height="72")
                                    g(fill="none", stroke="#8EC343", stroke-width="2")
                                        circle(cx="36", cy="36", r="35", style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;")
                                        path(d="M17.417,37.778l9.93,9.909l25.444-25.393", style="stroke-dasharray:50px, 50px; stroke-dashoffset: 0px;")
                            if name
                                h2=` تم تسجيل الطلب بنجاح يا استاذ ${name} `
                            else
                                h2=`تم تسجيل طلبك بنجاح `

                            if orderNumber
                                p=`رقم الحجز ${orderNumber}  سيقوم مندوبنا بالتواصل معك فى أقرب وقت لتأكيدة`
                            else
                                p=`سيتواصل معك مندوبنا لمتابعة الطلب و تأكيدة`
           
            .bg_color_1
                .container.margin_60_35
                    .row
                        .col-lg-4
                            a.boxed_list(href="#0")
                                i.pe-7s-call
                                h4 سيتواصل معك مندوبنا
                                p  سيتواصل معك مندوبنا خلال 30 دقيقة لتأكيد الطلب
                        .col-lg-4
                            a.boxed_list(href="#0")
                                i.pe-7s-wallet
                                h4 تأكيد جدية الحجز
                                p سيتم دفع عربون قبل الحجز لتأكيد الجدية و الباقى لما توصل  
                        .col-lg-4
                            a.boxed_list(href="#0")
                                i.pe-7s-users
                                h4 الدعم السريع  
                                p تمتع بخدمة الدعم السريع على رقم 01021257331 تحت امرك 24/7
                        //  /row 
                    //  /container 
