extends ../websiteLayout.pug

block content   
    section#contact.contact.pt-120.pb-110
        .container
            .row
                .col-sm-12.col-md-12.col-lg-8
                    form.contact__form-panel.mb-40
                        .row
                            .col-sm-12.contact__form-panel-header
                                h4 Get In Touch
                            .col-sm-6.col-md-6.col-lg-6
                                .form-group
                                    input.form-control(type='text' placeholder='Name')
                            // /.col-lg-6
                            
                            // /.col-lg-6
                            .col-sm-6.col-md-6.col-lg-6
                                .form-group
                                    input.form-control(type='text' placeholder='Phone')
                            .col-sm-12.col-md-12.col-lg-12
                                .form-group
                                    input.form-control(type='email' placeholder='Email')
                            // /.col-lg-6
                            .col-sm-12.col-md-12.col-lg-12
                                .form-group
                                    textarea.form-control(placeholder='Message')
                            .col-sm-12.col-md-12.col-lg-12
                                .g-recaptcha.mb-20(data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI")

                            // /.col-lg-12
                            .col-sm-12.col-md-12.col-lg-12
                                button.btn.btn__primary(type='submit') Send Message
                            // /.col-lg-12
                            // /.row
                            // /.col-lg-8
                .col-sm-10.col-md-6.col-lg-4
                    .contact-panel.mb-40
                        h6.contact__panel-title Contact Details
                        ul.contact__panel-list.list-unstyled
                            li
                                i.fa.fa-map-marker
                                span Brooklyn, New York 11226 United States.
                            li
                                i.fa.fa-envelope
                                span Email: info@elsafaplastelec.com
                            li
                                i.fa.fa-phone
                                span +2 01025762788
                    .contact-panel.mb-40
                        h6.contact__panel-title Opening Hours
                        ul.contact__panel-list.contact__panel-list-2.list-unstyled
                            li
                                span Sunday - Thursday
                                span 8am - 5pm

block scripts 
    //script(src="http://malsup.github.com/jquery.form.js")
    script(src="https://www.google.com/recaptcha/api.js?render=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI")
    script(src="/static/vendor/js/msgReq.js")
