extends ../websiteLayout.pug

block content   
    //Site Key 6Le8rs8ZAAAAAKfO_HMOqTWHLos8guMBe6VgdL_u
    // Secret Key 6Le8rs8ZAAAAANNqQUUwT0nCWmdEU2iOcWtrZ5rg
    .container.margin_60_35
        .row.justify-content-center
            .col-xl-6.col-lg-6.pr-xl-5
                .main_title_3
                    span
                    h2  أرسل رسالة
                    p  سنتواصل معك في الحال
                    #message-contact
                        form#contactForm(method="post" action="/sendMsg")
                            .row
                                .col-md-6
                                    .form-group
                                        label  الاسم الاول
                                        input.form-control#name_contact(type="text" name="name_contact" )
                                .col-md-6
                                    .form-group
                                        label الاسم الاخير
                                        input.form-control#lastname_contact(type="text" name="lastname_contact" )
                            .row
                                .col-md-6
                                    .form-group
                                        label  البريد الالكتروني
                                        input.form-control#email_contact(type="email" name="email_contact" )
                                .col-md-6
                                    .form-group
                                        label  موبايل
                                        input.form-control#phone_contact(type="text" name="phone_contact" )
                            .form-group
                                label  اكتب رسالتك
                                textarea.form-control#message_contact(name="message_contact" style="height:150px;" )
                            input(type="hidden" id="g-recaptcha-response" name="g-recaptcha-response")
                            input(type="hidden" name="action" value="validate_captcha")
                            p.add_top_30
                                input.btn_1.rounded#submit-contact(data-sitekey="6Le8rs8ZAAAAAKfO_HMOqTWHLos8guMBe6VgdL_u" type="submit" value="Submit")

                         
            .col-xl-6.col-lg-6.pl-xl-5
                .box_contacts
                    i.ti-help-alt
                    h2  أي أسئلة؟ 
                    a  01021257331
                    |  -  
                    a  infor@dahabdoors.com
                .box_contacts
                    i.ti-home
                    h2  العنوان
                    a  المسبط - شارع النصر - أمام موقف الاتوبيسات السياحي 
                    br 
                    | Dahab 
block scripts 
    //script(src="http://malsup.github.com/jquery.form.js")
    script(src="https://www.google.com/recaptcha/api.js?render=6Le8rs8ZAAAAAKfO_HMOqTWHLos8guMBe6VgdL_u")
    script(src="/static/vendor/js/msgReq.js")
