extends ../websiteLayout.pug

block content   

   
        main
            include ../partials/resultsBar
            include ../partials/filterListing
            .container.margin_60_35
                .row
                    include ../partials/searchFilter.pug
                    .col-lg-9
                        .row
                            include ../partials/homePageCard.pug
                .pagination__wrapper.add_bottom_30
                    ul.pagination
                        li
                            a.prev(href="#0", title="previous page") ❮
                        li
                            a.active(href="#0") 1
                        li
                            a(href="#0") 2
                        li
                            a(href="#0") 3
                        li
                            a(href="#0") 4
                        li
                            a.next(href="#0", title="next page") ❯
                footer.plus_border     
                #toTop
