extends ../../emptyLayout.pug

block content        
    .login-box
        .login-logo
            a(href="../../index2.html")
            b Elsafa
            | Plast
        .card
            .card-body.login-card-body

                if errors
                    for err in errors
                        p.login-box-msg=err
                   
                form#loginForm(action="/dashboard/login" method="post")
                    .input-group.mb-3
                        input.form-control(type="email" name="email" ,placeholder="Email" )
                        .input-group-append
                            .input-group-text
                                span.fas.fa-envelope
                    .input-group.mb-3
                        input.form-control(type="password" name="password" ,placeholder="Password" )
                        .input-group-append
                            .input-group-text
                                span.fas.fa-lock
                    .row
                        .col-8
                            //.icheck-primary
                                input#remember(type="checkbox")
                                label(for="remember").ml-2 Remember Me
                        .col-4
                            button.btn.btn-primary.btn-block(type="submit") Sign In

block scripts 
    script(src="/static/vendor/js/login.js" type="text/javascript")

