/*---------------------
     VARIABLES
----------------------*/

/* Color Variables */

$color-theme: #f87e13;
$color-body: #ffffff6e;
$color-white: #ffffff;
$color-black: #000000;
$color-heading: #231f20;
$color-dark: #222222;
$color-gray: #f9f9f9;

/* Font Variables */

$font-heading: 'Rajdhani',
sans-serif;

$font-body: 'Heebo',
sans-serif;

$body-font-size: 15px;