#results
        .container
            .row
                .col-lg-3.col-md-4.col-10
                    h4
                        strong عدد الوحدات المعروضة
                        |  145
                .col-lg-9.col-md-8.col-2
                  