aside#sidebar.col-lg-3
        form#filters_col
            a#filters_col_bt(data-toggle="collapse", href="#collapseFilters", aria-expanded="false", aria-controls="collapseFilters") 
            | عايز تأجر ؟
            .collapse.show#collapseFilters
                .filter_type
                    h6 نوع الوحدة
                    ul
                        li
                            label.container_check شالية
                                small 245
                                input(type="checkbox" name="restraunt")
                                span.checkmark                     
                        li
                            label.container_check شقة
                                small 245
                                input(type="checkbox" name="restraunt")
                                span.checkmark                     
                        li
                            label.container_check فيلا
                                small 245
                                input(type="checkbox" name="restraunt")
                                span.checkmark                     
                        li
                            label.container_check استديو
                                small 245
                                input(type="checkbox" name="restraunt")
                                span.checkmark                     
                .filter_type
                    h6 السعر
                    .distance
                        |  تكون فى حدود
                        span
                        |   جنية اليوم
                    input(type="range", name="price",min="100", max="1200", step="50", value="30", data-orientation="horizontal")
                .filter_type
                    h6 المكان
                    ul
                        li
                            label.container_check العسلة 
                                small 43
                                input(type="checkbox")
                                span.checkmark
                        li
                            label.container_check المشربة
                                small 43
                                input(type="checkbox")
                                span.checkmark
                        li
                            label.container_check التنمية
                                small 43
                                input(type="checkbox")
                                span.checkmark
                .filter_type
                    h6 عدد الغرف
                    ul
                        li
                            label.container_check غرفة  
                                small 43
                                input(type="checkbox")
                                span.checkmark
                        li
                            label.container_check غرفتين
                                small 43
                                input(type="checkbox")
                                span.checkmark
                        li
                            label.container_check ثلاث غرف
                                small 43
                                input(type="checkbox")
                                span.checkmark
                .filter_type
                    h6 
                    input.btn_1.add_top_10(style="width:100%;",type="submit" value="دورلى")        