aside.main-sidebar.sidebar-light-primary.elevation-4
  a.brand-link(href="/dashboard")
    span.brand-text.font-weight-light الصفا بلاست
  .sidebar
    if thisUser 
      .user-panel.mt-3.pb-3.mb-3.d-flex
        .image
          //if image  
          img.img-circle.elevation-2(src=`${thisUser.avatar}`, alt="User Image")
        .info
            a.d-block(href="#") #{thisUser.username}
    nav.mt-2
      ul.nav.nav-pills.nav-sidebar.flex-column(data-widget="treeview", role="menu", data-accordion="false")
        li.nav-item.has-treeview
          a.nav-link(href="#")
            i.left.pr-2.fas.fa-user-circle
            p
              | الحسابات 
              i.right.fas.fa-angle-left
          ul.nav.nav-treeview
            li.nav-item
              a.nav-link(href="/dashboard/users")
                i.left.pr-2.fas.fa-users
                p جميع الحسابات
            li.nav-item
              a.nav-link(href="/dashboard/users/add")
                i.left.pr-2.fas.fa-user-plus
                p أضف حساب
        li.nav-item
          a.nav-link(href="/dashboard/products")
            i.left.pr-2.fas.fa-box
            p
              | المنتجات 
        li.nav-item
          a.nav-link(href="/dashboard/clients")
            i.left.pr-2.fas.fa-building
            p
              | العملاء 
        li.nav-item
          a.nav-link(href="/dashboard/news")
            i.left.pr-2.fas.fa-newspaper
            p
              | الأخبار
        li.nav-item
          a.nav-link(href="/dashboard/news")
            i.left.pr-2.fas.fa-stamp
            p
              | الشهادات
        li.nav-item
          a.nav-link(href="/dashboard/news")
            i.left.pr-2.fas.fa-tasks
            p
              | المشاريع السابقة
        li.nav-item
          a.nav-link(href="/dashboard/slider")
            i.left.pr-2.fas.fa-images
            p
              | السلايدز 
        li.nav-item
          a.nav-link(href="/dashboard/news")
            i.left.pr-2.fas.fa-cog
            p
              | إعدادات أخري
        