aside.main-sidebar.sidebar-light-primary.elevation-4
  a.brand-link(href="/dashboard")
    span.brand-text.font-weight-light Dahab Doors 
  .sidebar
    if thisUser 
      .user-panel.mt-3.pb-3.mb-3.d-flex
        .image
          //if image  
          img.img-circle.elevation-2(src=`${thisUser.avatar}`, alt="User Image")
        .info
            a.d-block(href="#") #{thisUser.username}
    nav.mt-2
      ul.nav.nav-pills.nav-sidebar.flex-column(data-widget="treeview", role="menu", data-accordion="false")
        li.nav-item.has-treeview
          a.nav-link(href="#")
            i.left.pr-2.fas.fa-user-circle
            p
              | Accounts 
              i.right.fas.fa-angle-left
          ul.nav.nav-treeview
            li.nav-item
              a.nav-link(href="/dashboard/users")
                i.left.pr-2.fas.fa-users
                p All Accounts
            li.nav-item
              a.nav-link(href="/dashboard/users/add")
                i.left.pr-2.fas.fa-user-plus
                p Add New Account
        li.nav-item
          a.nav-link(href="/dashboard/brokers")
            i.left.pr-2.fas.fa-user-circle
            p
              | Brokers 
        li.nav-item.has-treeview
          a.nav-link(href="#")
            i.left.pr-2.fas.fa-store-alt
            p
              | Propertys
              i.right.fas.fa-angle-left
          ul.nav.nav-treeview
            li.nav-item
              a.nav-link(href="/dashboard/propertys")
                i.left.pr-2.fas.fa-store
                p All Propertys
            li.nav-item
              a.nav-link(href="/dashboard/propertys/add")
                i.left.pr-2.fas.fa-cart-plus
                p Add New Property
        li.nav-item.has-treeview
          a.nav-link(href="#")
            i.left.pr-2.fas.fa-th
            p
              | Logitics
              i.right.fas.fa-angle-left
          ul.nav.nav-treeview
            li.nav-item
              a.nav-link(href="/dashboard/logistic/citys")
                i.left.pr-2.fas.fa-th
                p Citys
            li.nav-item
              a.nav-link(href="/dashboard/logistic/areas")
                i.left.pr-2.fas.fa-th
                p Area
        li.nav-item.has-treeview
          a.nav-link(href="#")
            i.left.pr-2.fas.fa-th
            p
              | Variations
              i.right.fas.fa-angle-left
          ul.nav.nav-treeview
            li.nav-item
              a.nav-link(href="/dashboard/category/types")
                i.left.pr-2.fas.fa-th
                p Types
            li.nav-item
              a.nav-link(href="/dashboard/category/rooms")
                i.left.pr-2.fas.fa-th
                p Rooms
            li.nav-item
              a.nav-link(href="/dashboard/category/amenties")
                i.left.pr-2.fas.fa-th
                p Amenties
        li.nav-item.has-treeview
          a.nav-link(href="#")
            i.left.pr-2.fas.fa-th
            p
              | Bookings
              i.right.fas.fa-angle-left
          ul.nav.nav-treeview
            li.nav-item
              a.nav-link(href="/dashboard/booking")
                i.left.pr-2.fas.fa-th
                p Bookings Under Review 
            li.nav-item
              a.nav-link(href="/dashboard/booking/declined")
                i.left.pr-2.fas.fa-th
                p Declined Bookings
            li.nav-item
              a.nav-link(href="/dashboard/booking/waiting")
                i.left.pr-2.fas.fa-th
                p Waiting Bookings
            li.nav-item
              a.nav-link(href="/dashboard/booking/active")
                i.left.pr-2.fas.fa-th
                p Active Bookings

