aside.main-sidebar.sidebar-light-primary.elevation-4
  a.brand-link(href="index3.html")
    span.brand-text.font-weight-light Lbsak Dashboard 
  .sidebar
    if thisUser 
      .user-panel.mt-3.pb-3.mb-3.d-flex
        .image
          //if image  
          img.img-circle.elevation-2(src=`/static/images/${thisUser.avatar}`, alt="User Image")
        .info
            a.d-block(href="#") #{thisUser.username}
    nav.mt-2
      ul.nav.nav-pills.nav-sidebar.flex-column(data-widget="treeview", role="menu", data-accordion="false")
        li.nav-item.has-treeview.menu-open
          a.nav-link(href="#")
            i.left.pr-2.fas.fa-user-circle
            p
              | Accounts 
              i.right.fas.fa-angle-left
          ul.nav.nav-treeview
            li.nav-item
              a.nav-link(href="/dashboard/users")
                i.left.pr-2.fas.fa-users
                p All Accounts
            li.nav-item
              a.nav-link(href="/dashboard/users/add")
                i.left.pr-2.fas.fa-user-plus
                p Add New Account
        li.nav-item.has-treeview.menu-open
          a.nav-link(href="#")
            i.left.pr-2.fas.fa-store-alt
            p
              | Stores
              i.right.fas.fa-angle-left
          ul.nav.nav-treeview
            li.nav-item
              a.nav-link(href="/dashboard/stores")
                i.left.pr-2.fas.fa-store
                p All Stores
            li.nav-item
              a.nav-link(href="/dashboard/stores/add")
                i.left.pr-2.fas.fa-cart-plus
                p Add New Store
        li.nav-item.has-treeview.menu-open
          a.nav-link(href="#")
            i.left.pr-2.fas.fa-th
            p
              | Logitics
              i.right.fas.fa-angle-left
          ul.nav.nav-treeview
            li.nav-item
              a.nav-link(href="/dashboard/logistic/citys")
                i.left.pr-2.fas.fa-th
                p Citys
            li.nav-item
              a.nav-link(href="/dashboard/logistic/areas")
                i.left.pr-2.fas.fa-th
                p Area
        li.nav-item.has-treeview.menu-open
          a.nav-link(href="#")
            i.left.pr-2.fas.fa-th
            p
              | Variations
              i.right.fas.fa-angle-left
          ul.nav.nav-treeview
            li.nav-item
              a.nav-link(href="/dashboard/colors")
                i.left.pr-2.fas.fa-th
                p Color
            li.nav-item
              a.nav-link(href="/dashboard/sizes")
                i.left.pr-2.fas.fa-th
                p Size
        li.nav-item.has-treeview.menu-open
          a.nav-link(href="#")
            i.left.pr-2.fas.fa-th
            p
              | Categories
              i.right.fas.fa-angle-left
          ul.nav.nav-treeview
            li.nav-item
              a.nav-link(href="/dashboard/category/class")
                i.left.pr-2.fas.fa-th
                p Product Class 
            li.nav-item
              a.nav-link(href="/dashboard/category/types")
                i.left.pr-2.fas.fa-th
                p Product Type 
            li.nav-item
              a.nav-link(href="/dashboard/category/variants")
                i.left.pr-2.fas.fa-th
                p Product Variation 
