header.header_in
    .container
        .row
            .col-lg-3.col-12
                #logo
                    a(href="/")
                        img(src="/static/images/dahabdoorslogo.svg" , width='150px' ,height='auto')
                        span beta
            .col-lg-9.col-12
                    ul#top_menu
                        li
                            a.btn_add(href="/yourList") أضف وحدتك معنا
                        li   
                            a( class="wishlist_bt_top" href="/cart")
                            span#addToCart
                            

                    a.btn_mobile(href="#menu")
                        .hamburger.hamburger--spin#hamburger
                            .hamburger-box
                                .hamburger-inner
                    nav#menu.main-menu
                        ul
                            li
                                span
                                    a(href="/") الرئيسية
                            li
                                span
                                    a(href="/faq") الأسئلة الشائعة
                            li
                                span
                                    a(href="/contact") تواصل معنا