footer#footer.footer
    //.footer-top
        .container
            .row
                .col-sm-12.col-md-12.col-lg-6.footer__widget.footer__widget-about.mb-30
                    .footer__widget-content
                        img(src='/static/websiteAssets/images/logo/logo-footer.png' alt='logo')
                        p
                            | We produce positive results from ever growing Industrial & manufacturing, we have established a
                            | corporate mandate to maintain strong core values.
                // /.col-lg-4
                .col-sm-6.col-md-6.col-lg-3.footer__widget.footer__widget-text
                    h6.footer__widget-title Address
                    .footer__widget-content
                        p 2307 Beverley Rd Brooklyn, New York 11226 United States.
                        ul.social__icons.list-unstyled.mt-30.mb-30
                            li
                                a(href='#')
                                    i.fa.fa-facebook
                            li
                                a(href='#')
                                    i.fa.fa-twitter
                            li
                                a(href='#')
                                    i.fa.fa-instagram
                    // /.footer-widget-content
                    // /.col-lg-3
                .col-sm-6.col-md-6.col-lg-3.footer__widget.footer__widget-nav
                    h6.footer__widget-title Company
                    .footer__widget-content
                        nav
                            ul.list-unstyled
                                li
                                    a(href='#') About Us
                                li
                                    a(href='#') Meet Our Team
                                li
                                    a(href='#') News & Media
                                li
                                    a(href='#') Case Studies
                                li
                                    a(href='#') Contacts
                                li
                                    a(href='#') Careers
                   
                        
    .footer-bottom
        .container
            .row
                .col-sm-12.col-md-12.col-lg-12
                    .footer__contact
                        .footer__contact-item
                            .footer__contact-item-icon
                                i.icon-phone
                            // /.footer__contact-item-icon
                            .footer__contact-item-text
                                span Call Us:
                                strong
                                    a(href='tel:01025762788') +20-102-576-2788
                                // /.footer__contact-item-text
                                // /.footer__contact-item
                        .footer__contact-item
                            .footer__contact-item-icon
                                i.icon-envelope
                            // /.footer__contact-item-icon
                            .footer__contact-item-text
                                span Email Us:
                                strong
                                    a(href='mailto:info@elsafaplastelec.com') info@elsafaplastelec.com
                                // /.footer__contact-item-text
                                // /.footer__contact-item
                        .footer__contact-item
                            .footer__contact-item-icon
                                i.icon-clock
                            // /.footer__contact-item-icon
                            .footer__contact-item-text
                                span Opening Hours:
                                strong Sun-Thu: 8am – 5pm
                                // /.footer__contact-item-text
                                // /.footer__contact-item
                    .footer__copyright.text-center
                        span
                            | © 2020 ElsafaPlast, Made by 
                            a(href='http://facebook.com/a7med7asan15') Ahmed Hassan
                        // /.Footer-copyright
                        // /.col-lg-12
                        // /.row
                        // /.container
                        // /.Footer-bottom

