section.footer-top-area.pt-70.pb-30.pos-r.bg-blue
    .container
        .row.row-tb-20
            .col-sm-12.col-md-7
                .row.row-tb-20
                    .footer-col.col-sm-6
                        .footer-about
                            img.mb-40(src='/static/websiteAssets/images/logo_light.png', width='250', alt='')
                            p.color-light
                                | خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد، مما يجعله أكثر من 2000 عام في القدم. قام البروفيسور "ريتشارد ماك لينتوك" (Richard McClintock) وهو بروفيسور اللغة اللاتينية
                    .footer-col.col-sm-6
                        .footer-top-twitter
                            h2.color-lighter تابعنا في تويتر
                            ul.twitter-list
                                li.single-twitter
                                    p.color-light
                                        i.ico.fa.fa-twitter
                                        a(href='#')  تويتر :
                                        |  خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد.
                                li.single-twitter
                                    p.color-light
                                        i.ico.fa.fa-twitter
                                        a(href='#')  تويتر :
                                        |  خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد.
            .col-sm-12.col-md-5
                .row.row-tb-20
                    .footer-col.col-sm-6
                        .footer-links
                            h2.color-lighter روابط مهمة
                            ul
                                li
                                    a(href='deals_grid.html') أحدث عروض
                                li
                                    a(href='coupons_grid.html') أحدث الكوبونات
                                li
                                    a(href='contact_us_02.html') اتصل بنا
                                li
                                    a(href='404.html') خطأ 404
                                li
                                    a(href='terms_conditions.html') سياسات الإستخدام
                                li
                                    a(href='/faq') أسئلة وأجوبة
                    .footer-col.col-sm-6
                        .footer-top-instagram.instagram-widget
                            h2 تابعنا في انستقرام
                            .row.row-tb-5.row-rl-5
                                .instagram-widget__item.col-xs-4
                                    img(src='/static/websiteAssets/images/instagram/instagram_01.jpg', alt='')
                                .instagram-widget__item.col-xs-4
                                    img(src='/static/websiteAssets/images/instagram/instagram_02.jpg', alt='')
                                .instagram-widget__item.col-xs-4
                                    img(src='/static/websiteAssets/images/instagram/instagram_03.jpg', alt='')
                                .instagram-widget__item.col-xs-4
                                    img(src='/static/websiteAssets/images/instagram/instagram_04.jpg', alt='')
                                .instagram-widget__item.col-xs-4
                                    img(src='/static/websiteAssets/images/instagram/instagram_05.jpg', alt='')
                                .instagram-widget__item.col-xs-4
                                    img(src='/static/websiteAssets/images/instagram/instagram_06.jpg', alt='')
            .col-xs-12
                .payment-methods.t-center
                    span
                        img(src='/static/websiteAssets/images/icons/payment/paypal.jpg', alt='')
                    span
                        img(src='/static/websiteAssets/images/icons/payment/visa.jpg', alt='')
                    span
                        img(src='/static/websiteAssets/images/icons/payment/mastercard.jpg', alt='')
                    span
                        img(src='/static/websiteAssets/images/icons/payment/discover.jpg', alt='')
                    span
                        img(src='/static/websiteAssets/images/icons/payment/american.jpg', alt='')
// –––––––––––––––[ FOOTER ]–––––––––––––––
footer#mainFooter.main-footer
    .container
        .row
            p حقوق التأليف والنشر © 2017. جميع الحقوق محفوظة.
#backTop.back-top.is-hidden-sm-down
    i.fa.fa-angle-up(aria-hidden='true')

