header#header.header.header-layout2
    nav.navbar.navbar-expand-lg.sticky-navbar
        .container-fluid.px-0
            a.navbar-brand.bg-white(href='/')
                img.logo-dark(src='/static/websiteAssets/images/logo/logo-dark.png' alt='logo')
            button.navbar-toggler(type='button')
                span.menu-lines
                    span
            .header-inner-wrapper.w-100.bg-theme
                .d-flex
                    #mainNavigation.collapse.navbar-collapse
                        ul.navbar-nav.mr-auto
                            li.nav__item
                                a.nav__item-link.active(href='/') Home
                            li.nav__item
                                a.nav__item-link(href='/products') Products
                            li.nav__item
                                a.nav__item-link(href='/certificates') Certificates
                            li.nav__item
                                a.nav__item-link(href='/portfolio') Portfolio
                            li.nav__item
                                a.nav__item-link(href='/blog') News
                            li.nav__item
                                a.nav__item-link(href='/contact') Contact Us
