footer.plus_border
            .container.margin_60_35
                .row
                    
                   
                  
                // /row
                hr
                .row
                    .col-lg-6
                    
                    .col-lg-6
                        ul#additional_links
                            li
                                span &copy; 2020 Dahabdoor
